body {
  background-image: linear-gradient(
    to right,
    rgb(236, 97, 97),
    rgb(252, 150, 90)
  );
  font-family: system-ui, system-ui, sans-serif;
  font-size: 81.25%;
  background-color: #e6e6e6;
  color: #101010;
  line-height: 154%;
  margin: 0;
  overscroll-behavior: none;
}
.App {
  font-family: sans-serif;
  text-align: center;
  margin: 5rem;
  background-color: #fff;
}
